
/__pycache__
/weights/YOLO11
/归档/过去的runs
/归档/过去的results
/归档/CopilotCode问答
/modules/__pycache__
/modules/YOLODeepsort/.idea
/modules/YOLODeepsort/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/deep/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/sort/__pycache__
/modules/YOLODeepsort/deep_sort/utils/__pycache__
/weights/blip-image-captioning-large
/results
/photos
/weights/YOLOv8/yolov8x_UAV.pt
/weights/YOLOv8/yolov8m.pt
/modules/YOLODeepsort/easydict/