
/__pycache__
/weights/YOLO11
/归档/过去的runs
/归档/过去的results
/归档/CopilotCode问答
/modules/__pycache__
/modules/YOLODeepsort/.idea
/modules/YOLODeepsort/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/deep/__pycache__
/modules/YOLODeepsort/deep_sort/deep_sort/sort/__pycache__
/modules/YOLODeepsort/deep_sort/utils/__pycache__
/weights/blip-image-captioning-large
/results
/photos
/归档
/weights/YOLOv8/yolov8x_UAV.pt
/weights/YOLOv8/yolov8m.pt
/modules/YOLODeepsort/easydict/
/ClaudeChatVision/core/__pycache__
/ClaudeChatVision/ui/__pycache__
/CopilotTest2/__pycache__
/CopilotTest2/config/__pycache__
/CopilotTest2/core/__pycache__
/CopilotTest2/plugins/__pycache__
/CopilotTest2/plugins/image_description/__pycache__
/CopilotTest2/plugins/image_recognition/__pycache__
/CopilotTest2/resources/icons/__pycache__
/CopilotTest2/ui/__pycache__
/CopilotTest2/utils/__pycache__
/CopilotTest2/resources/__pycache__
/tasks/__pycache__
/gui/__pycache__
/tasks/YOLODeepsort/__pycache__
